---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Datenschutz - Esther Trenner Podologie">
  <h1>Datenschutz</h1>
  <p>Hier finden Sie Informationen zum Datenschutz auf unserer Webseite.</p>
  <p>
    Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst und halten uns an
    die Regeln der Datenschutzgesetze.
  </p>
  <p>Wenn Sie Fragen haben, können Sie uns jederzeit kontaktieren.</p>
  <p>
    Wir verwenden Cookies, um die Nutzung unserer Webseite zu analysieren und
    Ihnen personalisierte Inhalte anzubieten.
  </p>
</Layout>
