---

---

<footer class="bg-white font-jost">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0 gap-6 flex md:flex-col flex-row items-center">
        <a href="#home" class="flex items-center">
          <img src="/images/i1.webp" class="h-24" alt="Esther Trenner logo" />
        </a>
        <img
          src="/images/Siegel.webp"
          class="h-24"
          alt="ARGE Podologie Siegel"
        />
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <ul class="text-gray-800 font-medium te">
            <li>
              <p>
                Hansastr. 8 B 14612 <br /> Falkensee
                <br />
                <a href="tel:0332242298808" class="hover:underline"
                  >03322 42 29 808</a
                >
                <br />
                <a href="mailto:info@podo-trenner.de" class="hover:underline"
                  >info@podo-trenner.de</a
                >
                <br /> Öffnungszeiten <br /> Montag bis Donnerstag
                <br />
                09:00 Uhr – 12:00 Uhr <br /> und <br /> 14:00 Uhr – 18:00 Uhr
              </p>
            </li>
          </ul>
        </div>
        <div class="border-l border-5 pl-4">
          <ul class="text-gray-800 font-medium">
            <li class="mb-1">
              <a href="/" class="hover:underline">Startseite</a>
            </li>
            <li class="mb-1">
              <a href="#tratements" class="hover:underline">Unsere Leistungen</a
              >
            </li>
            <li class="mb-1">
              <a href="#aboutme" class="hover:underline">Über uns</a>
            </li>
            <li class="mb-1">
              <a href="#contact" class="hover:underline">Kontakt</a>
            </li>
            <li class="mb-1">
              <a href="#faq" class="hover:underline">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="md:border-l border-5 pl-4">
          <ul class="text-gray-800 font-medium">
            <li class="mb-1">
              <a href="/impressum" class="hover:underline">Impressum</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-800 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-800 sm:text-center"
        >© 2025 Esther Trenner Podologie. Alle Rechte vorbehalten.
      </span>
    </div>
  </div>
</footer>
