<section class="bg-[#B9DADA]">
  <div class="grid grid-cols-8 items-center justify-center gap-8 p-6 md:p-24">
    <div class="col-span-3 md:mt-24">
      <img src="/public/images/foto.png" alt="" />
    </div>
    <div class="col-span-5 items-start justify-center pr-32">
      <h1 class="text-5xl md:text-6xl font-serif text-[#F3735A] mb-1">
        Esther Trenner
      </h1>
      <br />
      <h2 class="text-lg md:text-xl font-semibold text-gray-800 mb-4">
        Podologin – Inhaberin der Praxis
      </h2>
      <br />
      <p class="text-gray-700">
        Geboren in Peru, lebe ich seit 25 Jahren in Berlin. Nach jahrelanger
        Tätigkeit in der Krankenpflege und einer abgeschlossenen Ausbildung zur
        Altenpflegerin 2015/2020 habe ich eine zusätzliche Ausbildung an der
        Podologieschule in Berlin erfolgreich absolviert.
      </p>
      <br />
      <p class="text-gray-700">
        Während meiner gesamten beruflichen Laufbahn habe ich ständig erlebt,
        wie wichtig gepflegte und gesunde Füße für das Wohlbefinden und die
        Gesundheit eines jeden Menschen sind.
      </p>
      <br />
      <p class="text-gray-700">
        Dieser Aufgabe möchte ich mich zukünftig mit vollem Einsatz widmen und
        das Beste zum Wohlergehen meiner Patientinnen und Patienten erreichen.
      </p>
      <br />
      <p class="text-gray-700">
        Die Praxis ist verkehrsgünstig gelegen. Sie befindet sich direkt am
        Bahnhof/Busbahnhof Falkensee. Wir haben ausreichend Parkplätze direkt
        vor der Praxis. Der Zugang zur Praxis ist barrierefrei.
      </p>
    </div>
  </div>
  <div class="w-full flex justify-center py-12">
    <a
      href="/buchung"
      class="bg-[#9cbe9c] hover:bg-green-600 text-white font-semibold rounded-full py-2 px-8 text-xl transition-colors duration-300"
    >
      Buchen Sie jetzt
    </a>
  </div>
</section>
