---
const { title, desc, termin, address } = Astro.props;
---

<section class="relative bg-1 p-6 md:p-24 overflow-hidden font-jost">
  <!-- Imagen con contenedor relativo -->
  <div id="p3" class="relative lg:w-3/4 max-h-[80vh] flex items-center">
    <img src="/images/a1.webp" alt="Bild der Podologie" class="shadow-md" />
  </div>

  <!-- Cuadro de texto superpuesto -->
  <div
    id="p4"
    class="lg:absolute top-1/2 right-1/6 transform lg:-translate-y-1/2 lg:translate-x-1/4 bg-2 opacity-90 p-6 lg:p-10 lg:w-2/5 shadow-xl z-10"
  >
    <h2 class="text-4xl 2xl:text-8xl font-bold text-white mb-4 font-dm">
      {title}
    </h2>

    <h3 class="text-lg md:text-2xl font-bold text-[#f6f6f6] mb-1">
      {desc}
    </h3>
    <p class="text-[#f6f6f6] mb-4 md:text-2xl">
      {termin}
    </p>

    <p class="text-[#f6f6f6] md:text-2xl">
      {address}
    </p>
  </div>
</section>
