---

---

<section class="relative bg-1 p-6 md:p-24 overflow-hidden font-jost">
  <!-- Imagen con contenedor relativo -->
  <div id="p3" class="relative lg:w-3/4">
    <img
      src="/images/bussines.jpeg"
      alt="Bild der Podologie"
      class="w-full h-auto shadow-md"
    />
  </div>

  <!-- Cuadro de texto superpuesto -->
  <div
    id="p4"
    class="lg:absolute top-1/2 right-1/6 transform lg:-translate-y-1/2 lg:translate-x-1/4 bg-2 opacity-90 p-6 lg:p-10 lg:w-2/5 shadow-xl z-10"
  >
    <h2 class="text-4xl 2xl:text-8xl font-bold text-6 mb-4 font-dm">
      Unsere Praxis
    </h2>

    <h3 class="text-lg md:text-2xl font-bold text-6 mb-1">Öffnungszeiten</h3>
    <p class="text-6 mb-4 md:text-2xl">
      Montag – Donnerstag: 08:00 – 18:00 Uhr, Freitag: 08:00 – 14:00 Uhr
    </p>

    <p class="text-6 md:text-2xl">
      Unsere moderne, zweckmäßig errichtete Praxis in der Hansastraße 8B,
      14612 Falkensee, ist bestens ausgestattet. Sie werden von einem
      freundlichen Team empfangen. Parkplätze stehen direkt am Haus zur
      Verfügung und die nächste Bushaltestelle ist nur wenige Gehminuten
      entfernt.
    </p>
  </div>
</section>
