<section>
  <div class="flex items-center w-full justify-center">
    <h1>Latest</h1>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="w-full flex justify-center mt-24">
    <a
      href="/buchung"
      class="bg-[#9cbe9c] hover:bg-green-600 text-white font-semibold rounded-full py-2 px-8 text-xl transition-colors duration-300"
    >
      Buchen Sie jetzt
    </a>
  </div>
</section>
