---

---

<section class="bg-1 lg:h-[80vh] font-jost pb-[16rem]">
  <div
    class="lg:max-w-6xl h-full mx-auto px-4 grid grid-cols-1 lg:grid-cols-2 gap-8 items-center pt-[10rem]"
  >
    <!-- Datos de contacto -->
    <div
      class="space-y-4 py-44 text-white text-lg w-full text-center lg:text-left"
    >
      <div>
        <p class="font-semibold">Adresse:</p>
        <p>Hansastr. 8 B<br />14612 Falkensee</p>
      </div>
      <div>
        <p class="font-semibold">Telefon:</p>
        <a href="tel:0332242298808">+49 3322 4229808</a>
      </div>
      <div>
        <p class="font-semibold">E-Mail:</p>
        <a href="mailto:info@podo-trenner.de">info@podo-trenner.de</a>
      </div>
    </div>

    <!-- Mapa -->
    <div class="w-full h-72">
      <iframe
        class="w-full h-full rounded-lg border"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2425.4409710977116!2d13.084987612301349!3d52.56163623302954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a8f9d04d5b05b1%3A0x799bb3028daccffc!2sPodologie%20Esther%20Trenner!5e0!3m2!1ses!2spe!4v1745927308778!5m2!1ses!2spe"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
