<section id="faq">
  <!-- component -->
  <div class="m-2 space-y-2 h-[60vh] my-[15rem]">
    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="1"
    >
      <button class="flex cursor-pointer items-center justify-between">
        <span> Sind die Instrumente sterilisiert? </span>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
        />
      </button>
      <div
        class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
      >
        Ja, alle Instrumente werden nach jeder Behandlung gemäß den geltenden
        Hygienevorschriften sorgfältig gereinigt, desinfiziert und sterilisiert.
      </div>
    </div>

    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="2"
    >
      <div class="flex cursor-pointer items-center justify-between">
        <span> Wie lange dauert eine podologische Sitzung? </span>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
        />
      </div>
      <div
        class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
      >
        Eine Behandlung dauert in der Regel etwa 40 Minuten.
      </div>
    </div>

    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="3"
    >
      <div class="flex cursor-pointer items-center justify-between">
        <span> Was muss ich zum ersten Termin mitbringen? </span>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
        />
      </div>
      <div
        class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
      >
        Sie müssen nichts mitbringen – kommen Sie einfach pünktlich zu Ihrem
        Termin.
      </div>
    </div>
    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="3"
    >
      <div class="flex cursor-pointer items-center justify-between">
        <span> Behandeln Sie auch Menschen mit Diabetes? </span>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
        />
      </div>
      <div
        class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
      >
        Ja, wir sind auf die Behandlung von Risikopatienten wie Diabetiker*innen
        spezialisiert und arbeiten besonders sorgfältig und schonend.
      </div>
    </div>
    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="3"
    >
      <div class="flex cursor-pointer items-center justify-between">
        <span> Welche Fußprobleme werden behandelt? </span>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
        />
      </div>
      <div
        class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
      >
        Wir behandeln eine Vielzahl von Beschwerden, unter anderem:
        Eingewachsene Nägel Hühneraugen (Clavus), Schwielen (Hyperkeratosen),
        Pilzinfektionen der Haut oder Nägel (Mykosen), Nagelverformungen
        (Onychodystrophie), Hornhaut und Risse (Rhagaden), Diabetisches
        Fußsyndrom Druckstellen und Schmerzen beim Gehen
      </div>
    </div>
  </div>
</section>
