---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jobs - Esther Trenner Podologie">
  <section class="bg-background py-16">
    <div class="max-w-4xl mx-auto text-center px-6">
      <h2 class="text-4xl font-bold font-bitter text-accent mb-4">
        Conoce más sobre nuestro proyecto
      </h2>

      <p class="text-lg font-open text-accent mb-6">
        Descubre cómo Yala transforma la forma en que las personas conectan con
        eventos, negocios y experiencias únicas. Explora nuestra visión y lo que
        nos impulsa a seguir innovando.
      </p>
      <!-- Botón -->
      <a
        href="/proyecto"
        class="bg-secondary text-accent font-open px-6 py-3 rounded-full font-semibold text-lg shadow-lg hover:opacity-90 transition duration-300"
      >
        Explorar el proyecto
      </a>
    </div>
  </section>
</Layout>
