---
const { title, button, ad } = Astro.props;
---

<section
  id="home"
  class="relative py-16 h-[calc(100vh-5.5rem)] overflow-hidden bg-[url('/images/a11.webp')] md:bg-[url('/images/a3.webp')] bg-cover bg-center bg-no-repeat"
>
  <div class="absolute inset-0 bg-black/30 z-0"></div>
  <div class="absolute bottom-6 right-6">
    <div class="relative">
      <div
        class="bg-[#0E788B] h-[6rem] flex items-center max-w-[22rem] pl-32 text-sm rounded-[5rem] px-4 py-2 text-white font-semibold font-jost"
      >
        {ad}
      </div>
      <img
        src="/images/Siegel.webp"
        class="h-[6rem] absolute -top-0 left-0"
        alt=""
      />
    </div>
  </div>
  <div
    class="max-w-6xl mx-auto flex flex-col-reverse md:flex-row md:pl-[3rem] md:pb-[8rem] xl:pb-[10rem] xl:pl-[4rem] items-center justify-center px-4 z-10 relative h-full"
  >
    <!-- Texto -->
    <div class="md:w-auto md:mb-24 space-y-6 text-center md:text-right">
      <h1
        class="text-4xl md:text-5xl lg:text-5xl xl:text-6xl max-w-md lg:max-w-[28rem] xl:max-w-[34rem] font-light text-gray-100 font-dm"
      >
        {title}
      </h1>
      <a
        href="#contact"
        class="inline-block bg-gray-100 text-1 font-semibold font-jost px-6 py-3 rounded-full shadow-md hover:bg-5 transition"
      >
        {button}
      </a>
    </div>
  </div>
</section>
