<section
  id="home"
  class="relative py-16 h-[calc(100vh-5.5rem)] overflow-hidden bg-[url('/images/a11.webp')] md:bg-[url('/images/a3.webp')] bg-cover bg-center bg-no-repeat"
>
  <div class="absolute inset-0 bg-black/30 z-0"></div>
  <!-- Fondo degradado -->
  <!-- <div
    class="absolute inset-x-0 bottom-0 w-full h-1/3 bg-gradient-to-t from-white to-transparent z-0"
  >
  </div> -->

  <div
    class="max-w-6xl mx-auto flex flex-col-reverse md:flex-row items-center justify-end px-4 z-10 relative h-full"
  >
    <!-- Texto -->
    <div class="text-center md:text-center md:w-full mb-36 space-y-6">
      <h1 class="text-4xl md:text-6xl font-light text-gray-100 font-dm">
        Gesunde Füße <br /> für ein besseres Leben
      </h1>
      <a
        href="#contact"
        class="inline-block bg-gray-100 text-1 font-semibold font-jost px-6 py-3 rounded-full shadow-md hover:bg-5 transition"
      >
        Jetzt Termin vereinbaren
      </a>
    </div>
  </div>
</section>
